[flake8]
# TODO: PEP8 recommends 79
max-line-length = 120
extend-ignore =
    # black and flake8 don't agree on these - stick to black
    # E203 whitespace before ':'
    E203

    # TODO: review those
    # unable to detect undefined names
    F403
    # may be undefined, or defined from star imports
    F405
    # comparison to False should be 'if cond is False:' or 'if not cond:'
    E712

    DOC101
    DOC103
    DOC106
    DOC107
    DOC109
    DOC110
    DOC201
    DOC202
    DOC203
    DOC301
    DOC402
    DOC404
    DOC501
    DOC503


