[flake8]
ignore =
    # whitespace after '['
    E201
    # whitespace before ']'
    E202
    # missing whitespace after ','
    E203
    # whitespace before '('
    E211
    # visually indented line with same indent as next logical line
    E129, 
    # multiple spaces before operator
    E221
    # multiple spaces after operator
    E222
    # missing whitespace around operator
    E225
    # missing whitespace around arithmetic operator
    E226
    # whitespace before ','
    E231
    # multiple spaces after ':'
    E241
    # unexpected spaces around keyword / parameter equals
    E251
    # at least two spaces before inline comment
    E261
    # inline comment should start with '# '
    E262
    # block comment should start with '# '
    E265
    # too many leading '#' for block comment
    E266
    # multiple spaces after keyword 
    E271
    # multiple spaces before keyword
    E272
    # missing whitespace after keyword
    E275
    # expected 1 blank line
    E301
    # expected 2 blank lines
    E302
    # too many blank lines
    E303
    # expected 2 blank lines after class or function definition, found 1
    E305
    # expected 1 blank line before a nested definition
    E306
    # multiple imports on one line
    E401
    # module level import not at top of file
    E402
    # line too long
    E501
    # unable to detect undefined names
    F403
    # the backslash is redundant between brackets
    E502
    # do not assign a lambda expression, use a def
    E731
    # ambiguous variable name
    E741
    # ambiguous function definition
    E743
    # redefinition of unused  
    F811
    # imported but unused
    F401
    # may be undefined, or defined from star imports
    F405
    # f-string is missing placeholders
    F541
    # dictionary key variable Ld4 repeated with different values
    F602
    # comparison to False should be 'if cond is False:' or 'if not cond:'
    E712
    # comparison to None should be 'if cond is None:'
    E711
    #  test for object identity should be 'is not'
    E714
    # undefined name 's'
    F821
    # local variable is assigned to but never used
    F841
    # trailing whitespace
    W291
    # no newline at end of file
    W292
    # blank line contains whitespace
    W293
    # blank line at end of file
    W391
    # line break before binary operator
    W503
    # line break after binary operator
    W504 
    # invalid escape sequence
    W605

    DOC101
    DOC103
    DOC106
    DOC107
    DOC109
    DOC110
    DOC201
    DOC202
    DOC203
    DOC301
    DOC402
    DOC404
    DOC501
    DOC503


