        .syntax unified
        .type   cmplx_mag_sqr_fx, %function
        .global cmplx_mag_sqr_fx

        .text
        .align 4
cmplx_mag_sqr_fx:
        push {r4-r12,lr}
        vpush {d0-d15}

        out   .req r0
        in    .req r1
        sz    .req r2

        lsr lr, sz, #2
        wls lr, lr, end
start:
        // deinterleave real/imag
        vld20.32        {q<qr>, q<qi>}, [r<in>]
        vld21.32        {q<qr>, q<qi>}, [r<in>]!
        // square real/imag
        vmulh.s32       q<qtmp>, q<qr>, q<qr>
        vmulh.s32       q<qout>, q<qi>, q<qi>
        // accumulate & halving
        vhadd.s32       q<qout>, q<qout>, q<qtmp>
        vstrw.32        q<qout>, [r<out>], #16
        le              lr, start
end:

        vpop {d0-d15}
        pop {r4-r12,lr}

        bx lr
