name: Regression tests
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  examples_dry_run:
    name: Dry Run (${{ matrix.target }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: 
          - slothy.targets.arm_v7m.cortex_m7
          - slothy.targets.arm_v81m.cortex_m55r1
          - slothy.targets.arm_v81m.cortex_m85r1
          - slothy.targets.aarch64.cortex_a55
          - slothy.targets.aarch64.cortex_a72_frontend
          - slothy.targets.aarch64.apple_m1_firestorm_experimental
          - slothy.targets.aarch64.apple_m1_icestorm_experimental
          - slothy.targets.aarch64.aarch64_big_experimental
          - slothy.targets.riscv.xuantie_c908
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/setup-ubuntu
    - name: Run examples
      run: |
        python3 example.py --dry-run --only-target=${{ matrix.target }}
  tests:
    name: Tests (${{ matrix.target }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: 
          - slothy.targets.arm_v7m.cortex_m7
          - slothy.targets.arm_v81m.cortex_m55r1
          - slothy.targets.arm_v81m.cortex_m85r1
          - slothy.targets.aarch64.cortex_a55
          - slothy.targets.aarch64.cortex_a72_frontend
          - slothy.targets.aarch64.apple_m1_firestorm_experimental
          - slothy.targets.aarch64.apple_m1_icestorm_experimental
          - slothy.targets.aarch64.aarch64_big_experimental
          - slothy.targets.riscv.xuantie_c908
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/setup-ubuntu
    - name: Run tests
      run: |
        python3 test.py --only-target=${{ matrix.target }}
  pip_package_test:
    name: Test pip package installation and functionality
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/setup-ubuntu
    - name: Install package
      run: |
        pip install -e .
    - name: Run simple optimization
      run: |
        python test.py --tests simple0_m55
  tutorial:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/setup-ubuntu
    - name: Run tutorial
      run: |
        (cd tutorial && ./tutorial_all.sh)
  examples_basic:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/setup-ubuntu
    - name: Run examples
      run: |
        python3 test.py --tests simple0_m55,simple1_m55,simple0_loop_m55,simple1_loop_m55
  examples_ntt_kyber_dilithium_helium_core:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/setup-ubuntu
    - name: Run examples
      run: |
        python3 example.py --examples ntt_kyber_1_23_45_67_m55,ntt_dilithium_12_34_56_78_m55 --timeout=300
  examples_ntt_kyber_dilithium_neon_core:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/setup-ubuntu
    - name: Run examples
      run: |
        python3 example.py --examples ntt_kyber_123_4567_a55,ntt_dilithium_123_45678_a55 --timeout=300
  sqmag:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/setup-ubuntu
    - name: Run examples
      run: |
        (cd paper/scripts && NO_LOG=Y ./slothy_sqmag.sh)
  fft:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/setup-ubuntu
    - name: Run examples
      run: |
        (cd paper/scripts && NO_LOG=Y ./slothy_fft.sh)
